
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
margin: 0px 30px;
}
.nav1{
  display: flex;
  justify-content: space-around;
  background-color: #0aaaa0 ;
}

.nav1_left {
  margin:5px 0px;
  padding: 10px;
}
.nav1_left a{
  margin:0px 5px;
}
.nav1_right{
  margin:5px 0px;
}
.nav1_right a{
  margin:0px 3px;
}
.nav2{
  display: flex;
  justify-content: space-around;
}

.nav2_left {
  display: flex;
  /* margin:3px 0px; */
  margin: 13px 0px;
  height: 5rem;
}

.nav2_left p{
  margin: 15px;
}

.nav2_left img{
width: 100px;
}
.nav2_right{
  margin:32px 0px;
}
.nav2_right a{
  margin:0px 10px;
  font-weight: 550;
  color: black;
  text-decoration: none;
}

.nav2_rightMost{
  margin:32px 0px;
}

.nav2_rightMost a{
  padding: 3px 6px;
  font-weight: 500;
  background-color: #0aaaa0 ;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.part2{
  height: 32rem;
  background-image: url('https://htmldemo.hasthemes.com/grant-foundation/grant-foundation/img/slider/slide-one.jpg'); 
  background-size: 84rem;
    background-repeat: no-repeat;
  }

.part2 h1{
    margin-bottom: 1.2rem;
    font-size: 40px;
    padding: 180px 0px 0px 160px;
    color: #fff;
}

.part2 p{
    padding: 0px 25vw 2rem 160px;
    color: #fff;
    font-size: 12px;
}

.part2 .buton{
    display: flex;

}
.part2 .buton1{
    margin: 0px 0px 0px 160px;
    padding: 10px 12px;
    background-color: black;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}
.part2 .buton2{
    margin: 0px 0px 0px 30px;
    padding: 10px 12px;
    background-color: black;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
}

.part2 .buton1:hover , .buton2:hover{
    background-color: #17a2b8;
}






















/* 

.img img{
    display: block !important;
    position: relative !important;
    width: 100% !important;
} */



.sectionheading{
  justify-content: center;
  display: flex;
  margin: 2rem;
}

.secpara{
  margin-right: 20px;
  padding: 10px;
  text-align: center;
}


.imagevol{
  margin-top: -33px;
    padding-bottom: 10px;
    margin-left: 35rem;
} 

/* .columns{
  width: 20%;
  padding: .5em;
  display: flex;
}


.columns p{
  text-align: center;
}

 .man1image img{
  width: 288px;
  padding: 20px 50px;
}
 .man2image img{
  padding: 20px 50px;
   width: 294px;
   
}
 .woman1image img{
  width: 270px;
  padding: 20px 50px;

}
 .woman2image img{
  width: 365px;
  padding: 20px 50px;

} */


.volunteers{
  text-align: center;
  margin-top: 26px;
  margin-bottom: 2px;
  color: #0aaaa0;
}

.volunteersImg{
  margin: 0px 36rem;
}

.disc{
  font-size: 13px;
  text-align: center;
  margin: 1.5rem 100px 40px 100px;
}
.part5 .part5img{
  width: 190px;
  margin-bottom: -20px;
}

.part5{
  display: flex;
  justify-content: space-around;
}

.part5 p {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.part5 span{
  font-size: 10px;
}






















.part6{
  height: 350px;
  text-align: center;
  color: aliceblue;
  /* background-color: black; */
  background-image: url('https://htmldemo.hasthemes.com/grant-foundation/grant-foundation/img/peopule-say-bg.jpg');
  background-repeat: no-repeat;
  background-size: 85rem;
  margin: 0px 0px 43px 0px;
}

.part6 h3{
   padding-top: 30px;
   padding-bottom: 0px;
}

.part6 .img{
   border-radius:50% 50% 50% 50%;  
   width:100px;
   height:100px;
   border-bottom: 1px solid white;
}

.part6 .text1{
   font-size: 15px;
}



















*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position: static;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 24%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}


footer .content .secondmiddle{
  padding-left: 5px;
}
footer .content .secondmiddle a{
  line-height: 32px;
}


.topic p{
    padding-left: 5px;
}

#form{
  margin-top: 25px;
  display: flex;
}
#form div{
  height: 44px;
  padding: 15px;
  background-color: aqua;
}

footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 3%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 2px;
  margin-left: -42px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
  position: absolute;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 11px;
  height: 32px;
  width: 21px;
  display: inline-block;
  text-align: center;
  margin: 5rem 5px 0 0;
  transition: all 0.3s ease;
}

footer .bottom{
  width: 100%;
  text-align: left;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
.bottom p{
  text-align: left;
  padding-top: 6rem;
}
.media-icons a{
  text-align: left;
  padding: 25px 4px;
}
